.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* This is the style to show the side nav when it's open */
  .sidenav.open {
    width: 250px;
  }
  
  .close-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .logout-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #999;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    text-align: center;
  }

  .logout {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2b3868;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }